[build]
  functions = "netlify/functions"

[functions]
  external_node_modules = ["express", "airtable", "serverless-http"]
  node_bundler = "esbuild"

[functions."poll-pending-donations"]
  schedule = "*/5 * * * *"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/airtable/:splat"
  status = 200
  force = true
